<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Plans</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/price_plans">Price plans</a></li>
            <li><a href="/link_user">Link user</a></li>
            <li><a href="/new_plan">Add plan</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
    <script src="/js/main.js"></script>
</body>

</html>