<div class="row">
    <h3>Allocate price plan to user</h3>
</div>

<div class="row">
    {{#if messages}}
    <div class="left red">
        {{messages.error}}
    </div>
    {{/if}}
    <form action="/link_user" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="username" id="username" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
                <select name="plan">
                    <option value="" disabled selected>Choose your option</option>
                    {{#each plans}}
                    <option value="{{id}}">{{plan_name}}</option>
                    {{/each}}
                </select>
                <label>Materialize Select</label>
            </div>
        </div>
        <div class="row">
            <button class="btn">ALLOCATE</button>
        </div>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>