<div class="row">
<h3>Price Plans</h3>
</div>

<div class="row">
    <table>
        {{#each plans}}
        <tr>
            <td>{{plan_name}}</td>
            <td><a href="/price_plans/{{id}}">view users</a></td>
        </tr>
        {{/each}}
    </table>
</div>