body {
    margin: 0;
}
body {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    background-color: lightblue;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 1em;
    list-style: none;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a, a:visited {
    color: black;
}

a:hover {
    background-color: white;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

form label input {
    width: 292px;
}

form label select {
    width: 300px;
}

form button {
    width: 100%;
}

form label {
    margin: 1em;
}

.bill {
    display: flex;
    justify-content: space-between;
}

td {
    padding: 1em;
}

ul {
    list-style: none;
}

ul li {
    padding: 1em;
}

form label input, form label select {
    height: 20px;
}

button {
    padding: 5px;
    height: 30px;
    text-transform: uppercase;
}